<footer class="footer" th:fragment="footer">
  <div class="grid">
    <div class="grid__row">
      <div class="grid__column-2-4">
        <h3 class="footer__heading">Chăm sóc khách hàng</h3>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="" class="footer-item__link">Trung tâm trợ giúp</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
          </li>
        </ul>

      </div>
      <div class="grid__column-2-4">
        <h3 class="footer__heading">Về MEGAMART</h3>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="" class="footer-item__link">Giới thiệu</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Tuyển dụng</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Điều khoản</a>
          </li>
        </ul>

      </div>
      <div class="grid__column-2-4">
        <h3 class="footer__heading">Danh mục</h3>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="" class="footer-item__link">Thể thao</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Thời trang</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Gia dụng</a>
          </li>
        </ul>
      </div>

      <div class="grid__column-2-4">
        <h3 class="footer__heading">Theo dõi chúng tôi</h3>
        <ul class="footer-list">
          <li class="footer-item">

            <a href="" class="footer-item__link">
              <i class="footer-item-icon  fab fa-facebook "></i>
              Facebook</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">
              <i class="footer-item-icon  fa-brands fa-instagram   "></i>
              Instagram</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">
              <i class="footer-item-icon fa-brands fa-linkedin"></i>
              Linkedin
            </a>
          </li>
        </ul>

      </div>

      <div class="grid__column-2-4">
        <h3 class="footer__heading">MEGAMART trên ứng dụng(coming soon)</h3>
        <div class="footer__download-apps">
          <img th:src="@{/img/googleplay.png}" alt="" class="footer__download-apps-googleplay">
          <img th:src="@{/img/appstore.png}" alt="" class="footer__download-apps-appstore">
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="grid">
      <p class="footer__bottom-text">Địa chỉ:54 Nguyễn Lương Bằng, Hoà Khánh Bắc, Liên Chiểu, Đà Nẵng ,Việt Nam</p>
      <p class="footer__bottom-text">Chịu Trách Nhiệm Quản Lý Nội Dung: Lê Thanh Chung,Nguyễn Lê Minh Chiến,Lê Minh Nhật</p>
      <p class="footer__bottom-text">© 2025 MEGAMART - All Rights Reserved</p>
    </div>
  </div>


</footer>