<head th:fragment="sellerhead">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/base.css}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" th:href="@{/fonts/fontawesome-free-6.7.2-web/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/css/account-style.css}">
  <link rel="stylesheet" th:href="@{/css/pay.css}">
  <link rel="stylesheet" th:href="@{/css/seller_style.css}">
  <link rel="stylesheet" th:href="@{/css/takecare_revenue.css}">
  <link rel="stylesheet" th:href="@{/css/admin/form_view.css}">
  <link rel="stylesheet" th:href="@{/css/takecare_revenue.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>