<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" th:href="@{/css/admin/head_side.css}">
  <link rel="stylesheet" th:href="@{/css/admin/add_view.css}">
  <script th:src="@{/js/admin.js}"></script>
</head>
<body>
<div class="header">
  <div class="left-head">
    <h3>Sửa mã giảm giá</h3>
  </div>
  <div class="right-head">
    <h3>Xin chào,admin</h3>
  </div>
</div>


<div th:replace="fragments/sidebar_admin.html :: sidebaradmin"></div>

<div class="content">
  <div class="box box-primary">
    <p th:if="${coupontontai}" th:text="${coupontontai}" style="color:red;font-size:1.6rem;margin:0 auto"></p>
    <div class="box-header with-border">
      <h3 class="box-title">Sửa mã giảm giá</h3>
    </div>
    <form th:action="@{/admin/editcoupon}" method="post" th:object="${coupon}">
      <div class="box-body">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
          <label for="exampleInputEmail1">CODE</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nhập mã code" th:field="*{code}" required>
        </div>
        <div class="form-group" style="padding:10px;">
          <label>Giảm giá:
            <input th:field="*{discount}" type="number" name="discount" min="0" max="100" step="0.01"> %
          </label>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Giới hạn sử dụng</label>
          <input th:field="*{usagelimit}" type="number" class="form-control" id="exampleInputEmail1" placeholder="100">
        </div>
      </div>
      <div class="box-footer">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>
</div>

</body>
</html>
